@midnight: #001e32;
@onahau: rgba(210, 236, 255, 1.00);
@sea-green: rgba(35, 175, 186, 1.00);
@turquoise: rgba(45, 211, 194, 1.00);

#app.light {
	background-color: @onahau;
}

/*******************************************
*******************************************
				Footer
*******************************************
*******************************************/

#app.light .links-container,
#app.light .controls-container {
	box-shadow: 0 4px 20px 0 fade(@midnight, 60);

	&:hover {
		 box-shadow: 0 4px 20px 0 fade(@midnight, 90);
	}
}

#app.light .controls-container .icon,
#app.light .links-container svg {
	color: @sea-green;
}

#app.light .controls-container:hover .icon,
#app.light .links-container svg:hover{
	color: @turquoise;
}

/*******************************************
*******************************************
				Navigation
*******************************************
*******************************************/

#app.light .link {
	color: @midnight;
	border: 2px solid @midnight;
	box-shadow: 4px 4px 0 0 @midnight;
	background-color: @onahau;

	&:hover {
		box-shadow: 0 0 0 4px @sea-green;
	}
}

#app.light .router-link-active{
	color: @sea-green;
	border-color: @sea-green;
	box-shadow: 0 0 0 4px @sea-green;
}

#app.light .hamburger div {
	background-color: @midnight;
}

/*******************************************
*******************************************
				Home
*******************************************
*******************************************/

#app.light .text {
	color: @midnight;
	box-shadow: 0 0 20px 0 fade(@midnight, 30);
	background: linear-gradient(to bottom right, fade(@midnight, 20), fade(@midnight, 40));
}

/*******************************************
*******************************************
				Resume
*******************************************
*******************************************/

#app.light .highlights li {
	background-color: white;
	color: @midnight;
	box-shadow: 6px 4px 6px 0 fade(@midnight, 30);
}

#app.light .resume-section-header {
	color: @midnight;
}

#app.light .experience {
	color: @midnight;
	box-shadow: 0 0 10px 0 fade(@midnight, 30);
}

#app.light .remote-badge {
	background-color: #fff;
	color: @midnight;
}

@supports (-moz-appearance:none) {
	/*******************************************
	*******************************************
					Footer
	*******************************************
	*******************************************/

	#app.light .links-container,
	#app.light .controls-container {
		background-color: fade(@onahau, 90);
	}

	/*******************************************
	*******************************************
					Home
	*******************************************
	*******************************************/

	#app.light .text {
		color: @onahau;
		background: linear-gradient(to bottom right, fade(@midnight, 70), fade(@midnight, 90));
	}
}
